html {
  box-sizing: border-box;
}

body {
  height: 100%;
  /*padding: 20px;*/
  /*background-color: rgba(98,147,240,.5); */
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-content {
  background-color: rgba(98,147,240,.5);
  height: 100%;
  width: 100%;
}

.column-1, .column-2 {
  float: left;
  width: 50%;
  padding: 10px;
  padding-right: 10px;
/*   background-color: Cornflowerblue; */
}

.column-1 {
  border-right: 2px solid white;
}

.column-2 {
  padding-left: 10px;
}

summary {
outline: none !important;
}

details p {
  background-color: rgba(98,147,240,1);
  color: white;
  padding: 10px;
}

footer {
  clear: left;
  text-align: center;
  background-color: white;
  padding: 20px;
  margin-bottom: 0;
}

header {
/*   width: 90%; */
  background-color: white;
  margin: auto;
   /*padding: 20px; */
}


h1, h2 {
  text-align: center;
  margin-top: 0;
  padding: 20px;
}

h1 {
  font-family: 'Oswald';
}

p {
  padding-bottom: 20px;
}

img {
  display: block;
  height: 100px;
  width: 80px;
  margin: auto;
}