.navy {
	color: #000080;
}

ul {
  -webkit-columns: 2;
}

li {
	padding: 10px;
}

a {
  color: #800080;
  font-size: 1em;
}

a:visited {
  color: #ff0000;
}

h1 {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

.first-letter {
	font-size: 2em;
}

.hr {
	width: 100%;
	border: 1px solid black;
}

.center {
	text-align: center;
}

.center-image {
	padding-top: 10px;
	display: block;
	margin: auto;
}

.small-text {
	font-size: 0.6em;
}

p:nth-child(7) {
	font-size: .5em;
}

/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
I think the path is really important to know, if your file path does not match up, your stylesheet will not link with the HTML file. 
Our first step took a minute to test the background-color because of an added / in the path. It's extremely important to pay attention to 
details and understand the concept of file paths within a document.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
Positioning was one of the hardest things to accomplish for us. We create a class for the image called .image-center and used the margin: auto; attribute.
We had to adjust some of the original format of the HTML doc in order for it to work correctly. It was extrememly hard for our first CSS challenge. It
is easy to follow through Codecademy, however, replicating a website to look the same was difficult and time consuming. We found ourselves stuck on one 
issue for several minutes.

What CSS did you use to modify the element style (like size, color, etc.)
We tried to use various concepts to make sure we understood how to use them - we used mostly class selectors, but also used type selectors for headers, 
pseudo-classes for links. The only thing we didn't use were ID selectors.

Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
Yes, we ended up changing a couple things within the HTML doc. We created classes for the font to be navy specifically for the header and footer. This 
would allow us to alter the color of the text, without changing the description text under the links. We also created a class for the B & H in the header
to alter the size of those two letters without changing the font-size of the entire header. Other classes include one for the break lines in CSS instead
of in HTML, one for the image to be centered as well as one for the description text to be smaller than the links.

When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?
I believe our code was cleaner and followed best practices. We had two separate documents (HTML & CSS) that allowed us to switch back and forth and adjust
formatting styles and code easily. Their actual code base looked very sloppy and unorganzied and it was hard to see all the styles used for each text. 
They also had to repeat styles for different sections of the website, where we did not because of the use of classes.
*/